<h3>
    {{viewTitle}}
</h3>

<form method="POST">

    <div class="form-group">
        <label>Agent Name</label>
        <input type="text" class="form-control" name="agentname" placeholder="enter the Agent Name">
    </div>
    <div class="form-group">
        <label>Intent Name</label>
        <input type="text" class="form-control" name="intentname" placeholder="enter the Intet Name">
    </div>
    <div class="form-group">
        <label>Training Phrase</label>
        <input type="text" class="form-control" name="tp_1" placeholder="enter the Training Phrase">
    </div>

    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="tp_2" placeholder="enter the Training Phrase">
    </div>

    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="tp_3" placeholder="enter the Training Phrase">
    </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="tp_4" placeholder="enter the Training Phrase">
    </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="tp_5" placeholder="enter the Training Phrase">
    </div>
    <div class="form-group">
        <label>Response</label>
        <input type="text" class="form-control" name="res" placeholder="enter the Response">
    </div>
    <div class="form-group">
        <label>entity Name</label>
        <input type="text" class="form-control" name="etityname" placeholder="enter the entity Name">
    </div>
        <div class="form-group">
        <label>entity Value</label>
        <input type="text" class="form-control" name="ev_1" placeholder="enter the enrity value">
    </div>

    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="ev_2" placeholder="enter the entity value">
    </div>

    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="ev_3" placeholder="enter the entity value">
    </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="ev_4" placeholder="enter the entity Value">
    </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="ev_5" placeholder="enter the Tentity value">
    </div>
    <button type="submit">submit</button>
</form>