<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <form method="GET">
            <div class="row">
                <div class="col25">
                    <label>Entity Name</label>
                </div>

                <div class="col75">
                    <input type="text" id="tag">
                </div>
            </div>
            <div class="row">
                <div class="col25">
                    <label>Value</label>
                </div>
                <div class="col75">
                    <input type="text" id="val_1">
                </div>
                <div class="col75">
                    <input type="text" id="val_2">
                </div>
                <div class="col75">
                    <input type="text" id="val_3">
                </div>
                <div class="col75">
                    <input type="text" id="val_4">
                </div>
                <div class="col75">
                    <input type="text" id="val_5">
                </div>
            </div>

            <div class="row">

                <div class="col25">
                    <label>response</label>
                </div>

                <div class="col75">
                    <input type="text" id="res">
                </div>
            </div>
            <div class="row">
                <div class="col75">
                    <input type="submit">
                </div>
            </div>

        </form>
    </div>
</body>

</html>